*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    color: rgb(0, 0, 0);   
    text-align: center;
    text-decoration: underline;
    padding: 30px;  
} 

h3{ 
    color: white;  
    text-align: center; 
}

h4{
    color: white; 
}

img{
    border: 6px solid rgb(255, 255, 255);       
    display: block;   
    width: 100%;  
    max-width: 100%;
}

.grid{ 
    display: grid; 
    grid-gap: 16px;  
    padding: 16px;

    @media (min-width: 768px)  { 
        grid-template-columns: repeat(4, 1fr);   
    }  
    
    .col{ 
        background-color: rgb(190, 190, 190);  
        margin: 16px;
        padding: 16px; 
    }
}  
